doctype html
html

  head
    title :: alessiozappa.com ::
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='static/css/style.css')

    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script.
        window.html5 || document.write('<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><\\/script>')

  body
    header
      .container
        .padding
          | &nbsp;
    
    #main
      #bio.container
        .padding
          :markdown
            ## bio ##

            Sushi and Sashimi eater, Spritz drinker, OnePage websites lover, Manga reader, Sublime Text and (hot) tea addicted.

            Also a heavy hitting web designer [who loves pushing code](http://github.com/azappa?tab=repositories).

            Currently a senior media designer, web hunter and a [Plastic Panda](http://www.plasticpanda.com) founder.

      .separator.container
        .padding
          hr

      #skills.container
        .padding
          :markdown
            ## skills ##

            - <span>html5 & css3 with [jade](http://jade-lang.com/) & [stylus](http://learnboost.github.io/stylus/)</span>
            - <span>javascript (vanilla and [jquery](http://jquery.com/))</span>
            - <span>php with [kirby toolkit](http://toolkit.getkirby.com/) & [wordpress](http://wordpress.org/)</span>
            - <span>python with [django framework](https://www.djangoproject.com/)</span>
            - <span>nodejs with vanilla javascript & [expressjs](http://expressjs.com/)</span>
            - <span>adobe suite with flash (as2 & as3), photoshop and a little bit of illustrator and indesign</span>

      .separator.container
        .padding
          hr

      #contacts.container
        .padding
          :markdown
            ## contacts ##

            - <span>[email @alessioedoardozappa](mailto:alessioedoardozappa@gmail.com)</span>
            - <span>+393669797397</span>
            - <span>[download my resume](CV_AlessioZappa.pdf)</span>

    footer
      .container
        .padding
          | &nbsp;