@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
.source-sans,.pure-g [class *='pure-u'],.pure-g-r [class*="pure-u"],html,body{font-family:'Source Sans Pro',sans-serif}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
html,body{height:100%;}
body{font-weight:200;font-size:24px;line-height:32px;color:#223959;background:#fff;-webkit-font-smoothing:antialiased !important;font-smooth:always !important;}
body h1,body h2,body h3{font-weight:400}
body a:link,body a:active,body a:visited{color:#020825;-webkit-transition:color .5s ease,border-bottom-color .5s ease;-moz-transition:color .5s ease,border-bottom-color .5s ease;-o-transition:color .5s ease,border-bottom-color .5s ease;-ms-transition:color .5s ease,border-bottom-color .5s ease;transition:color .5s ease,border-bottom-color .5s ease;text-decoration:none;border-bottom-width:1px;border-bottom-style:dotted;border-bottom-color:#020825}
body a:hover{color:#54728b;border-bottom-color:#54728b}
body .container{width:560px;margin:0 auto}
body .padding{padding:10px}
body header img#logo{width:180px;height:180px}
body #main .container h2{margin:0;border-left:3px solid #54728b;padding-left:20px;margin:0}
body #main .container ul{padding:0;}
body #main .container ul li{margin-bottom:10px;font-size:16px;vertical-align:middle;font-weight:400;list-style-position:outside;margin-left:30px;}
body #main .container ul li span{font-weight:200;font-size:24px;line-height:32px}
body #main .container ul li:last-child{margin-bottom:0}
body #main .container#skills ul li{list-style-type:katakana-iroha}
body #main .container#contacts ul li{list-style-type:hiragana-iroha}
body #main .container.separator hr{height:1px;border:none;background:rgba(84,114,139,0.5);margin:50px auto}
body footer{font-size:18px;}
body footer br{display:none}
@media screen and (max-width: 767px){body .container{width:90%}
body footer br{display:block}
}