//  nib folder is located in static/css/
@import('nib');
//  load opensans from google fonts (maybe the overused font in the world)
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');



//  - colors - https://kuler.adobe.com/marble-color-theme-3567663/
_darkblue = #020825
_blue = #223959
_ligthblue = #54728B
_notsowhite = #F0F1F4

_white = #fff
_black = #000



//  - widths, heights or anything you want here
_containerWidth = 560px
_paddingLR = 10px



//  - font style
.source-sans
  font-family 'Source Sans Pro', sans-serif



//  - reset purecss fonts
.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .source-sans



//  - some useful classes
.tl
  text-align left

.tc
  text-align center

.tr
  text-align right



// main style
html,
body
  height 100%
  @extends .source-sans

body
  font-weight 200
  font-size 24px
  line-height 32px
  color _blue
  background _white
  -webkit-font-smoothing antialiased!important
  font-smooth always!important

  h1,
  h2,
  h3
    font-weight 400

  a
    &:link,
    &:active,
    &:visited
      color _darkblue
      transition color 0.5s ease, border-bottom-color 0.5s ease
      text-decoration none
      border-bottom-width 1px
      border-bottom-style dotted
      border-bottom-color _darkblue
    &:hover
      color _ligthblue
      border-bottom-color _ligthblue

  .container
    width _containerWidth
    margin 0 auto

  .padding
    padding _paddingLR

  header
    img#logo
      width (360px / 2)
      height (360px / 2)
    
  #main
    .container
      h2
        margin 0
        border-left 3px solid _ligthblue
        padding-left 20px
        margin 0

      ul
        padding 0
        li
          margin-bottom 10px
          font-size 16px
          vertical-align middle
          font-weight 400
          list-style-position outside
          margin-left 30px
          span
            font-weight 200
            font-size 24px
            line-height 32px
          &:last-child
            margin-bottom 0
      
      &#skills
        ul
          li
            list-style-type katakana-iroha
      
      &#contacts
        ul
          li
            list-style-type hiragana-iroha

      &.separator
        hr
          height 1px
          border none
          background rgba(_ligthblue, 0.5)
          margin 50px auto

  footer
    font-size 18px
    br
      display none


_containerWidth = 90%
//  - media queries -
@media screen and (max-width: 767px)
  body
    
    .container
      width _containerWidth

    footer
      br
        display block
