extends _layout

block app
  .c
    .p
      .spacer-40

      #bio
        :markdown-it
          ## bio ##
          Sushi and Sashimi eater, Spritz drinker, OnePage websites lover, Manga reader, Sublime Text and (hot) tea addicted.  
          Also a heavy hitting web designer who loves pushing code on [github](http://github.com/azappa?tab=repositories) and bitbucket.  
          Currently a senior design and developer plus a [Plastic Panda](http://www.plasticpanda.com) founder.

      .spacer-20

      #skills
        :markdown-it
          ## skills ##
          - HTML & CSS with [pug](https://pugjs.org/) & [stylus](http://stylus-lang.com/)
          - Javascript (vanilla and [jQuery](http://jquery.com/))
          - NodeJS with vanilla Javascript, babeljs (es2015, es2017), [expressjs](http://expressjs.com/), [koajs](http://koajs.com/) and a little bit of [ReactJS](https://facebook.github.io/react/)
          - serverless sites with [Prismic.io](https://prismic.io/) and AWS Lambdas using [dawson](https://github.com/lusentis/dawson)
          - MySQL & [mongoDB](https://www.mongodb.com)
          - PHP with [kirby](https://getkirby.com/) & [wordpress](http://wordpress.org/) for simple websites / theming
          - a little bit of Python with [django framework](https://www.djangoproject.com/)
          - photoshop and basics of illustrator and indesign

        .spacer-20

        #contacts
          :markdown-it
            ## contacts ##
            - [email @alessioedoardozappa](mailto:alessioedoardozappa@gmail.com)
            - +393669797397
            - [download my resume](CV_AlessioZappa.pdf)

        .spacer-20

        #footer
          :markdown-it
            built with &hearts; in Milan using  
            [Sublime Text](http://www.sublimetext.com/), [pug](https://pugjs.org/), [stylus](http://stylus-lang.com/) & [gulp](http://gulpjs.com/)

        .spacer-40